@{
    ViewData["Title"] = "About";
}

<h4>Application Implementation Details:</h4>
<br />
<p>
    - to add new contact, press "Add New Contact" on Home screen <br />
    - you can enter the phone number of the contact using the keypad or by typing in textbox area <br />
    - you can edit contact information by clicking on "Edit" option beside contact information <br />
    - you can delete the contact by clicking on "Delete" option beside contact information <br />
    - you can see contact details by clicking on "Details" option beside contact information
    and you can edit contact details from there by clicking on "Edit Contact" button <br />
    - you can see all contacts by navigating to "Contacts" tab in navbar
    and you can go to Home page by pressing on "ContactsApp" tab in navbar <br />
</p><br />
<h5>Project is implemented using ASP.NET Core 5.0</h5>
